#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root * {border-radius: 15px;}

#app {
  background-color: #404040;
  color: #cccccc;
  min-width: 500px;
  min-height: 500px;
  border: 1px solid orange;
}
#app > h1 {
  text-align: center;
}

#app > #controls {
  border: 1px solid orange;
  margin: 1rem 2rem;
  padding: 0 1rem;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
}

#app > #controls * {
  margin: 5px;
}


#app > #timer {
  border: 1px solid orange;
  margin: 1rem 2rem;
  min-height: 3rem;
}

#app > #buttons {
  margin: 1rem 2rem;
  min-height: 3rem;
  display: flex;
  justify-content: space-around;
}

#app button {
  border-radius: 25px;
  border: 3px solid orange;
  background-color: yellow;
  padding: 0 1rem;
  
}
#app button:hover {
  background-color: red;
}
#app button:active {
  background-color: orange;
}

#time-left {
  font-size: 3rem;
  margin: 1rem 0;
}

.center {
  text-align: center;
}